/* MODS */
.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.logo {
}

.App {
  text-align: center;
  margin: 0;
  padding: 0 15%;
}

.Header {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  max-height: 15vh;
}

/* FILTER */

.Filter {
}

.filterInput {
  width: 100%;
  border-radius: 5px;
  font-size: 1em;
  font-family: monospace;
  margin: 15px;
  padding: 10px 5px;
}

.downloads {
  width: 100%;
}

.filterButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin: 15px 5px;
}

.searchButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin: 15px 5px;
  background-color: blue;
}

/* LIST ITEM */
.ListItem {
  margin: 15px 0;
  border: solid 1px #ccc;
  padding: 10px 5%;
  align-items: center;
}
.data {
  margin: 0 auto;
}

.resultButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
}
