/* MODS */
.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.logo {
}

.App {
  text-align: center;
  margin: 0;
  padding: 0 15%;
}

.Header {
  width: 100%;
  margin: 0;
  padding: 0 15px;
  max-height: 15vh;
}

/* FILTER */

.Filter {
}

.filterInputs {
  width: 100%;
}

.filterInput {
  border-radius: 5px;
  font-size: 1em;
  font-family: monospace;
  margin: 5px 5px;
  padding: 10px 5px;
}

.downloads {

}

.buttonContainer {
  justify-content: space-between;
}

.filterButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin: 5px 5px;
}

.actionButton {
  padding: 15px;
  border-radius:5px;
  margin: 15px 5px;
  background-color: #3cf;
  color: white;
}

/* LIST ITEM */
.ListItem {
  margin: 15px 0;
  border: solid 1px #ccc;
  padding: 10px 5px;
  align-items: center;
}
.data {
  margin: 0 auto;
}

.resultButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin: 0 20px;
}

.alignLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
