.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 15%;

}

.Header {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0 15px;
  height: 100px;
  justify-content: space-around;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.flexrow {
  display: flex;
  flex-direction: row;
}
/* FILTER */

.Filter {
  display: flex;
  flex-direction: column;
}

.filterInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filterInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.filterInput input{
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  font-family: monospace;
  margin: 10px 0;
  padding: 10px;
}

.longInput {
  width: 300px;
}

.downloads {

}

.buttonContainer {
  justify-content: space-between;
}

.downloadContainer {
  margin-top: 10px;
}

.filterButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin-right: 10px;
}

.actionButton {
  padding: 15px;
  border-radius:5px;
  background-color: #3cf;
  color: white;
}

/* LIST ITEM */
.ListItem {
  margin: 15px 0;
  border: solid 1px #ccc;
  padding: 10px 5px;
  align-items: center;
}
.data {
  margin: 0 auto;
}

.resultButton {
  min-width: 50px;
  padding: 5px;
  border-radius:5px;
  margin: 0 20px;
}

.alignLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
