html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

p {
  line-height: 2em;
}

h1, h2, h3 {
  color: #555;
  font-weight: 500;
  margin: 10px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

body {
  margin: 0;
}

hr {
  height: 2px;
  background-color: #eee;
  margin: 0 15%;
  border: none;
}

.App {
  margin: 0;
}


/* MODIFIERS */

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.monospace {
  font-family: monospace;
}

.aligncentre {
  align-items: center;
}
/* NAV */

.Nav {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  margin: 0;
  height: 100px;
  padding: 0 15px;
}

.logo {
  background-image: url('./assets/CanYa_Logo_MAIN.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100px;
  margin: 15px 15%;
}

.links {
  margin-right: 15%;
  justify-content: flex-end;
  width: 100%
}

.Nav a {
  margin: auto 15px;
  list-style-type: none;
  font-weight: 500;
  text-transform: uppercase;
}

.Nav a:link, .Nav a:visited, .Nav a:active {
  text-decoration: none;
  color: #555;
}

.Nav a:hover {
  text-decoration: underline;
}

/* MEMBERS */

.ListItem {
  padding: 5px 0%;
  align-items: center;
  border-left: 2px solid #eee;
  margin: 15px 0;
}

.listItemBox {
  padding: 5px 15px;
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameAddress {
  max-width: 30%;
  align-items: left;
}

.walletId {
  font-family: monospace;
  font-size: 1em;
  color: #3cf;
  text-decoration: none;
}

.status {
  width: 15%;
}

.threewords{
  text-transform: capitalize;
}

.isOG{
  margin: 0 10px;
}

/* LISTHEADER */

.ListHeader {

}

.listHeader-Wallet {
  width: 50%;
  margin: 10px;
}

.listHeader-Data {
  margin: 15px;
  width: 50%;
}

.listHeader-Data-a {
  margin-left: 25px;
}

/* SEARCHADDRESS */

.SearchAddress {
border-bottom: solid 2px #eee;
}

.searchPanel {
  padding: 0 20px;
  width: 50%;
}

.searchInput{
  width: 100%;
  padding: 10px 5px;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;
  border: solid 1px #ccc;
  font-size: 1em;
  margin: 5px 0;
  border-right: none;
}

.searchButton {
  padding: 10px 10px;
  margin: 5px 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-left: none;
  background-color: #3cf;
  color: white;
}

.searchResults {
  margin: 15px 5px;
}

.searchStatus {
  margin: 15px 0px;
}

.balance {
  margin: 10px 10px 10px 0;
}

/* MAIN */

.Main {
  padding: 0 20vw;
}

/* JOIN */


.Form {
  align-items: left;
}

.formInput {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 1.2em;
}

.formButton {
  background-color: #3cf;
  height: 50px;
  border-radius: 5px;
  width: 90px;
  margin: 15px 0;
  border: none;
  font-size: .9em;
  font-weight: 600;
  color: white;
}

#discord1 {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

#discord2 {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;
  min-width: 30%;
}

.discordHash {
  font-size: 2em;
  width: 30px;
  text-align: center;
  border: solid 1px #ccc;
  background-color: #ddd;
}

/* HOME / ABOUT */
.image {
  align-self: center;
  margin: auto;
  display: block;
}

/* FOOTER  */
.Footer {
  height: 50px;
  font-family: monospace;
  font-size: .8em;
  color: #999;
  border-top: 2px dotted #ddd;
}
.footerContent{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Footer a:visited, .Footer a:active, .Footer a:link {
  color: #888;
}

.formError {
  border: 1px solid red;
}

.formErrorDescription {
  color: red;
}
