html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  color: #555;
  font-weight: 500;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.2em;
}

body {
  margin: 0;
}

hr {
  height: 2px;
  background-color: #eee;
  margin: 0 15%;
  border: none;
}

.App {
  margin: 0;
}

.Home {
  padding: 0 7vw;
  line-height: 2em;
}

.Members {
  padding: 0 5vw;
}

/* MODIFIERS */

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcol {
  display: flex;
  flex-direction: column;
}

.monospace {
  font-family: monospace;
}

.aligncentre {
  align-items: center;
}

/* NAV */

.Nav {
  display: flex;
  flex-direction: row;
  max-height: 100px;
  margin: 0;
  height: 100px;
  padding: 0 15px;
}

.logo {
  background-image: url('./assets/CanYa_Logo_MAIN.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 100px;
  margin: 15px 15%;
}

.links {
  margin-right: 15%;
  justify-content: flex-end;
  width: 100%
}

.Nav a {
  margin: auto 15px;
  list-style-type: none;
  font-weight: 500;
  text-transform: uppercase;
}

.Nav a:link, .Nav a:visited, .Nav a:active {
  text-decoration: none;
  color: #555;
}

.Nav a:hover {
  text-decoration: underline;
}

/* MEMBERS */

.ListItem {
  padding: 5px 0%;
  align-items: center;
  border-left: 2px solid #eee;
  margin: 15px 0;
}

.listItemBox {
  padding: 5px 15px;
  margin: 0 auto 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nameAddress {
  max-width: 30%;
  align-items: left;
}

.walletId {
  font-family: monospace;
  font-size: 1em;
  color: #3cf;
}

.status {
  width: 15%;
}

/* SEARCHADDRESS */

.SearchAddress {
border-bottom: solid 2px #eee;
}

.searchPanel {
  padding: 0 20px;
  width: 50%;
}

.searchInput{
  width: 90%;
  padding: 5px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 1em;
  margin: 5px auto;
}

/* MAIN */

.Main {
  padding: 0 15%;
}

/* FORM */

.Form {
  align-items: left;
}

.formInput {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: solid 1px #ccc;
  font-size: 1.2em;
}

.formButton {
  background-color: #3cf;
  height: 50px;
  border-radius: 5px;
  width: 90px;
  margin: 15px 0;
  border: none;
  font-size: .9em;
  font-weight: 600;
  color: white;
}
